<ul>
  <li>
    <a href="<%= root_path %>">Home</a>
  </li>
  <li>
    <a href="<%= characters_path %>">Characters</a>
  </li>
  <li>
    <a href="<%= houses_path %>">Houses</a>
  </li>
  <li>
    <a href="<%= realms_path %>">Realms</a>
  </li>
  <li>
    <a href="<%= peerages_path %>">Peerages</a>
  </li>
  <li>
    <a href="<%= timelines_path %>">Timelines</a>
  </li>
</ul>