
<h2>
  <%= "#{@character.bailic_name} #{@character.native_name} #{@houseage}" %>
</h2>

<table class="main-table">
  <thead>
    <tr>
      <th class="left-tab-header">
        Attribute
      </th>
      <th class="right-tab-header">
        Value
      </th>
    </tr>
  </thead>

  <% rows = ['Bailic Name', 'Bailic Translation', 'Native Name', 'Native Translation', 'Nickname'] %>
  <% name_rows = ['Father', 'Mother'] %>

  <% rows.each do |row| %>
    <% if @character.send(row.underscore.gsub(/\s/, '_')) %>
      <tr>
        <td>
          <%= row %>
        </td>
        <td>
          <%= @character.send(row.underscore.gsub(/\s/, '_')) %>
        </td>
      </tr>
    <% end %>
  <% end %>

  <% if @character.primary_house %>
    <tr>
      <td>
        Primary House
      </td>
      <td>
        <a href="<%= house_path(@character.primary_house) %>"> <%= @character.primary_house.name %> </a>
      </td>
    </tr>
  <% end %>

  <% name_rows.each do |row| %>
    <% if @character.send(row.underscore.gsub(/\s/, '_')) %>
      <tr>
        <td>
          <%= row %>
        </td>
        <td>
          <% char = @character.send(row.underscore.gsub(/\s/, '_')) %>
          <% houseage = char.primary_house ? " of House #{char.primary_house.name}" : " " %>
          <a href="<%= character_path(char) %>" > <%= "#{char.bailic_name} #{char.native_name} #{houseage}" %> </a>
        </td>
      </tr>
    <% end %>
  <% end %>

  <% if @character.children.length > 0 %>
    <% @character.children.each do |child| %>
      <tr>
        <td>
          Child
        </td>
        <td>
          <% houseage = child.primary_house ? " of House #{child.primary_house.name}" : " " %>
          <a href="<%= character_path(child) %>" > <%= "#{child.bailic_name} #{child.native_name} #{houseage}" %> </a>
        </td>
      </tr>
    <% end %>
  <% end %>

</table>



<%# family_tree_process(@tree, true).html_safe %>

<!-- <ul class="family_tree">
<% @tree.each do |node| %>
  <% if node.is_a?(Hash) %>

    <li class="parentless">
      <%= "#{node[:bailic_name]}" %>
    </li>
  <% else %>

    <li class="marriage">
     <% if node.length > 0 %>
      <ul class="children">
      <% node.each do |child| %>
        <li class="parented">
          <%= "#{child.first[:bailic_name].strip}" %>
        </li>
        <% if child.length > 1 %>
          <li class="marriage">
            <% if child[1].length > 1 %>
              <ul class="children">
                <li class="parented">
                  <%= "#{child[1].first.first[:bailic_name]}" %>
                </li>
                <li class="parented">
                  <%= "#{child[1].last.first[:bailic_name]}" %>
                </li>
              </ul>
            <% end %>
          </li>
        <% end %>
        <li class="parentless">
          <%= "#{child.last[:bailic_name]}" %>
        </li>
      <% end %>
      </ul>
     <% end %>
    </li>
  <% end %>
<% end %>

</ul>

<ul class="family_tree">
    <li class="parentless">GPA</li>
    <li class="marriage">
        <ul class="children">
            <li class="parented">Uncle</li>
            <li class="marriage"> </li>
            <li class="parentless">Aunt</li>
            <li class="parented">Father</li>
            <li class="marriage">

                <ul class="children">
                    <li class="parented">Son</li>
                    <li class="parented">Daughter</li>
                </ul>
            </li>
            <li class="parentless">Mother</li>
        </ul>
    </li>
    <li class="parentless">GMA</li>
</ul>
%> -->