<h1> Timelines </h1>

<table class="main-table">
  <thead>
    <tr>
      <th class="left-tab-header">
        Name
      </th>
      <th class="right-tab-header">
        Description
      </th>
    </tr>
  </thead>

  <% @timelines.each do |timeline| %>
    <tr>
      <td>
        <% if timeline.id.present?%>
          <a href="<%= timeline_path(timeline.path) %>"><%= timeline.name %></a>
        <% else %>
          <a href="<%= timeline_path(0, master: true) %>"><%= timeline.name %></a>
        <% end %>
      </td>
      <td>
        <%= timeline.desrcription %>
      </td>
    </tr>
  <% end %>

</table>
